* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../image/background-image.png");
  background-color: rgb(42, 42, 42);
  background-size: cover;
 
  background-position: center;
  font-family: "Montserrat", sans-serif;
  
}

header {
  min-width: 100%;
  position: relative;
}

nav {
  z-index:0;
}

.menu {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: flex-start;
  gap: 40px;
  list-style: none;
  padding-left: 200px;
  margin-top: 50px;
}

.menu > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: #caffcc;
}

.menu > li > .ativo {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.menu > li > a:hover {
  text-decoration: underline;
}

.container_home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  margin-top: 100px;
  padding: 100px;
  
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  color: #f6f6f6f6;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  
}

.description > h2 {
  font-family: 'Krona One', sans-serif;
  font-weight: normal;
  font-size: 2.4rem;

}

.description > h2 > span {
  color: #caffcc;
}

.description p > span{
  color: #caffcc;
  font-weight: 500;
}

.description > p{
  font-weight: 300;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.links > h3 {
  font-family: 'Krona One', sans-serif;
  font-weight:100;
  font-size: 22px;
}

.links > a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #f6f6f6f6;
  height: 68px;
  width: 330px;
  background-color: transparent;
  border: solid 2px #caffcc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.links > a:hover{
  border: solid 4px #6EBF7B;
  cursor: pointer;
  font-weight: 700;
}

.image_profile {
  border: 3px solid #caffcc;
  border-radius: 15px;
  min-width:50%;
  min-height: 50%;
}
.image_profile > img {
  width:100%;
  height:auto;
  border-radius: 15px;
  position: relative;
  top: 15px;
  right: 15px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #caffcc;
  height: 150px;
 
  gap: 20px;
  margin-top: 50px;
}

footer > div > img{
  height: 100px;
  padding: 10px;
}

footer > p{
  font-family:"Montserrat", sans-serif;
  font-size: 20px;
}

.form{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > label{
  font-size: 20px;
  margin-bottom: 8px;
  font-family:'Krona One', sans-serif;
  font-weight: normal;
}

.form > input{
  height: 64px;
}

.form > input, .form > textarea{
  background-color: transparent;
  border: 2px solid #caffcc;
  border-radius: 10px;
  padding: 16px;
  color:  #f6f6f6f6;
  font-family:'Krona One', sans-serif;
  font-weight: normal;
}

.form > input:focus, .form > textarea:focus{
  outline: 1px solid #caffcc;
}


.form > button{
  margin-top: 24px;
  height: 64px;
  background-color: #caffcc;
  color:#1E1E1E;
  border: none;
  border-radius: 10px;
  font-family:'Krona One', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.form > button:hover{
  background-color: transparent;
  border: 3px solid #caffcc;
  color: #f6f6f6f6;
  transition: 0.2s;
}

.invisible{
  display: none;
}
.button_menu{
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
}

.confirmation{
  display: flex;
  flex-direction: column;
  color: #caffcc;
  font-family: "Montserrat", sans-serif;
  font-weight:500;
  align-items: center;
  justify-content: center;
  border: 2px solid #6EBF7B;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  gap: 40px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px){
  .menu_mobile{
    display: none;
  }
  .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 30%;
    white-space: nowrap;
  }
  .section_home{
    margin-top: 0;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  footer{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding: 15px;
  }
  
}

@media screen and (max-width:768px) {
  .header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu{
    display: none;
  }
  .button_menu{
    display: inline;
  }
  .menu_mobile{
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 16px;
    padding: 32px 0;
    background-color: #2b2b2bbe;
    list-style: none;
    border-bottom: 2px solid #caffcc;
  }

  .menu_mobile > li > a {
    text-decoration: none;
    color: #caffcc;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    
  }
 
  .menu_mobile > li > .ativo {
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }
  
  .menu_mobile > li > a:hover {
    text-decoration: underline;
  }
}